<div class = "signuptitle">
	<h1>Create your justbuckit account</h1>
</div>
<div class = "signupsubtext">
Already have a justbuckit account? You can <%= link_to "log in here", new_session_url %>.
</div>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
