<br><br><div class="container">
	<div class="row">
		<div class="span6">
				<p><h1>JustBuckIt is your social photo bucket list</h1></p><br />
				<p><h2><!-- <i class="icon-camera-retro"></i> -->Discover, share, and accomplish everything you want to do before you _____________</h2></p><br />
				<p><h3>Add your life goals, share what you want, and just buck it.</h3></p>
		</div>
		<!-- Carousel of Items  -->
		<div class="span6">
			<div id="myCarousel" class="carousel slide">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			   	<div class="active item"><%= image_tag "GGBridge-1.jpg" %>
			    		<div class="carousel-caption">
							    <h4>San Francisco</h4>
							    <p>Bike across the Golden Gate Bridge</p>
							</div>
					</div>
					<div class="item"><%= image_tag "london.jpg" %>
							<div class="carousel-caption">
							    <h4>London</h4>
							    <p>Paint the London skyline at night</p>
							</div>
					</div>
					<div class="item"><%= image_tag "tandem-skydiving.jpg" %>
							<div class="carousel-caption">
							    <h4>Before I turn 40</h4>
							    <p>Tandem Skydiving</p>
							</div>  		<!--end caption-->
					</div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>

<!-- 
		icon-list-ul
		icon-group
		icon-check
 -->