
<div>
<ul>
	<div id = "homepagetext">
	<li>JustBuckIt is your social photo bucket list.</li>
	<li>Discover, share, and accomplish everything you want to do before you _____________.</li>
	<li>Add your life goals, share what you want, and just buck it.</li>
	</div>
</ul>
<p>
<%= link_to "Sign Up Today", new_user_url, :class => "btn btn-large btn-primary" %>
</p>
<p>


<!-- 
		icon-list-ul
		icon-group
		icon-check
 -->